@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}

/* Global styles */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  height: 100vh;
}

body {
  position: relative;
  width: 100%;
  color: #444444;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Ubuntu, 'Helvetica Neue', sans-serif;
  background-color: #fafafa;
}

td,
th {
  padding: 4px 8px 4px 4px;
  text-align: left;
}

th {
  font-weight: 600;
}


@layer base {
  html {
    @apply h-full scroll-smooth;
  }
}

@layer components {
  /* Standard styles for titles */
  .title {
    @apply text-4xl font-bold text-white;
  }

  /* Standard styles for subtitles */
  .subtitle {
    @apply text-xl font-semibold text-white;
  }

  /* Standard styles for normal text */
  .normal-text {
    @apply text-gray-400;
    @apply text-lg;
    @apply font-normal;
  }

  /* Standard styles for orange text */
  .orange-text {
    @apply text-orange-600;
  }

  .backgroundColor {
    @apply bg-neutral-900;
  }

  .section-heading {
    @apply text-3xl md:text-4xl font-bold mb-6 inline-block relative;
  }

  .section-heading::after {
    content: "";
    @apply absolute -bottom-2 left-0 w-1/3 h-1 bg-orange-500 rounded;
  }
}

.timeline::before {
  content: '';
  @apply bg-neutral-600 absolute h-full w-0.5 md:left-2/4 -translate-x-1/2 rounded md:translate-x-0;
}

.timeline::after {
  content: '';
  @apply bg-neutral-600 absolute h-2 w-2 rounded-full md:left-2/4 md:-translate-x-1/2 md:translate-x-0;
}
